# Ignore everything
*
# Allow specific files (auto ignores new sub repos etc)
!.gitignore
!LICENSE
!README.md
!apple-touch-icon.png
!disclaimer.html
!favicon.ico
!index.html
!robots.txt
!sitemap.sh
!sitemap.xml
